{% extends 'base.html' %}{% block content %}
<div class="container">
    <div class="about">
        <h1>About Neopets</h1>
        <hr />
        <p class="flow-text">
            <strong>
            <p>Hello and welcome! Neopets is a small mock-up of the original Neopets site, where their users can own a neopet and feed them, play with them, accessorize them, play games together and more!</p>
            <p>Feel free to make an account so you can get started with adopting your neopets, feeding them meals, and giving them toys so they can be entertained.</p>
            <p>There are many neopets to be collected, so in the near future users can expect the addition of a third party API containing all possible neopets so that you can adopt them with their preloaded images!</p>
            <p>Thanks for stopping by! Feel free to check out the real site at neopets.com</p>
            </strong>
        </p>
    </div>
</div>

 {% endblock %}