/* this is font found from neopets website */
/* 
*{
  font-family:'Lato';
} */
/* BASE */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer {
    padding-top: 0;
    text-align: center;
  }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-size: 90%;
    background-image:url('images/neopets.png');
}

/* Home */
